<p style="color: green"><%= notice %></p>

<h1>Articles</h1>
<h2>articles</h2>

<%= cl_image_tag ("r6csrnzj3k30fhdkbd1k", crop: :fill, width: 300, height: 200) %>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
